<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Relief Insight</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav user-bar pull-right">
        <li>
          <a href="">REGISTER</a>
        </li>
        <li>
          <a href="">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</div>
