<div id='content'>
  <%- Product.request_list.each do |prod| %>
    <a data-role="button" id="custom-btn" class=<%="prod_#{prod.name.downcase}"%> href=<%= product_path(prod) %>><%= prod.name.upcase %></a>
  <% end %>
</div><!--content-->
