


     <div id='main' data-role='page' data-theme='b'>
                <div data-role='header' data-theme="b">
                    <h1>Relief Insight Mobile Marketplace</h1>
                </div><!--header-->

                <div id='content' data-role='content'>
                        <h2>I can sell or donate:</h2>
					<%- Product.request_list.each do |prod| %>
					  <a data-role="button" id="custom-btn" class=<%= "prod_#{prod.name.downcase}"%> data-theme="b" href=<%= product_path(prod) %>><%= prod.name %></a>
					<% end %>
                 
                </div><!--content-->
                    
                 <div data-role='footer'>
                     <h4>&copy; 2013</h4>
                </div><!--footer-->

         </div><!--page-->

