<div class="jumbotron">
  <div id="map_div"></div>
</div>

<div class="container">
  <div class="row" id="category">
    <div class="col-md-3" id="food">FOOD</div>
    <div class="col-md-3" id="water">WATER</div>
    <div class="col-md-3" id="first_aid">FIRST AID</div>
    <div class="col-md-3" id="clothes">CLOTHES</div>
  </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["map"]});
  google.setOnLoadCallback(drawMap);
  function drawMap() {
    var data = google.visualization.arrayToDataTable([
      ['Lat', 'Lon', 'Name'],
      [37.4232, -122.0853, 'Yangbo Du'],
      [40.753108, -73.989206, "Linda Peng"]
    ]);
 
    var map = new google.visualization.Map(document.getElementById('map_div'));
    map.draw(data, {showTip: true});
  }
</script>
