<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div>

<div id='content'>
  <%- Product.request_list.each do |prod| %>
    <a data-role="button" id="custom-btn" class=<%="prod_#{prod.name.downcase}"%> href=<%= product_path(prod) %>><%= prod.name.upcase %></a>
  <% end %>
</div>
